
<HR>
<h1>Add Review</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@review) do |f| %>
      <%= f.label :review %>
      <%= f.text_field :review %>

      <%= f.label :rating %>
      <%= f.text_field :rating %>

      <%= f.submit "Add Review", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<HR>